// Define variables for your color scheme
$body-bg: #0E0000;

$red: #FD1015;
$blue: #7EB2DD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: gray;
$purple: #3E2F5B;
$egg: #E8DDB5;

