.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.card1 {
  background-color: white;
  height: 500px;
  border-radius: 5px;

}
.content {
  margin: 16px;
  padding: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.content p {
  margin-bottom: 0;
}

.card2 {
  background-color: white;
  padding: 40px;
  width: 500px;
  height: 250px;
  margin-bottom: 20px;
  border-top: solid 8px rgb(35, 33, 48);
  border-radius: 5px;
  max-height: 250px;
  overflow-y: scroll;
  float: left;

}



.card3 {
  background-color: white;
  padding: 40px;
  width: 500px;
  height: 250px;
  border-top: solid 8px rgb(35, 33, 48);
  border-radius: 5px;
  max-height: 250px;
  overflow-y: scroll;
  float: left;

}

.card2, .card3 h3 {
  text-align: center;
}

.heading {
  padding: 16px;
  margin-bottom: 45px;
  height: 188px;
  background-image: url(https://img.freepik.com/free-vector/silhouette-skyline-illustration_53876-78786.jpg?size=626&ext=jpg);
  background-position: -33px -39px;
  text-align: center;
  border-radius: 5px;
}

.heading h3 {
  margin-top: 20px;
}

.scroll-offers {
  overflow: scroll;
  block-size: 200px;
  border: solid 1px lightgray;
  padding: 14px;
  border-radius: 3px;
  width: fit-content;

}