// Specific CSS for your home-page
/* .jumbotron {
  background-image: asset-url('intersect.png');
  padding: 180px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1 {
  display: flex;
  justify-content: flex-end;
}
.cards {
  display: flex;
  justify-content: space-around;
}

.flat-card {
  width: 600px;
  height: 300px;
  padding: 40px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0%;
  background-image: url('water.jpg');


}

.roommate-card {
  width: 600px;
  height: 300px;
  padding: 40px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0%;

}

.button1 {
  text-align: center;
  padding: 15px 32px;
  color: black;
  background-color: white;
}

.button2 {
  text-align: center;
  padding: 15px 32px;
  color: black;
  background-color: white;
} */

.image-box {
  background-image: asset-url('home_pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 140vw;
}

.flex-container-top {
  display: flex;
  height: calc(100vh - 88px);
}

.flex-container-bottom {
  display: flex;
  justify-content: space-between;
}


.text-box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #030b52;
}

.green-btn {
  background-color: #8BE8BC;
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 15px;
}

.explanation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: rgba(3, 11, 82, 0.02);
  h1 {
    color: #030b52;
  }
}

.image-text-box {
  /* width: 30vw; */
  p {
    width: 302px;
    padding: 10px;
  }

  img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
  margin:10px;
}



