.index h1 {
  text-align: center;
  margin-bottom: 55px;
}

a {
  margin-bottom: 1px;
  color: midnightblue;
  text-decoration: none;

  :hover {
    text-decoration: none;
    opacity: 90%;

}
}

.list-group-item.active {
  color: gray;
  background-color: lightgray;
  border-color: lightgray;
  text-decoration: none;
  
}

h5 {
  margin: 20px 0;
}


.list-group {
  background-color: white;
  padding: 30px;
  color: midnightblue;
}