<footer>
<div class="footer">
  <div>
    <div class="footer-links">
      <!--Github-->
      <a class="git-ic mx-4" role="button"><i class="fab fa-lg fa-github ml-0"></i></a>
      <!--Instagram-->
      <a class="ins-ic mx-4" role="button"><i class="fab fa-lg fa-instagram ml-0"></i></a>
      <!--Facebook-->
      <a class="fb-ic mx-4" role="button"><i class="fab fa-lg fa-facebook-f ml-0"></i></a>
      <!--Twitter-->
      <a class="tw-ic mx-4" role="button"><i class="fab fa-lg fa-twitter ml-0"></i></a>
      <!--Linkedin-->
      <a class="li-ic mx-4" role="button"><i class="fab fa-lg fa-linkedin-in ml-0"></i></a>
    </div>
    <div class="footer-copyright mt-2">
      Flatmates... your TRUSTED choice in flats
    </div>
  </div>
  <div>
    <a class="top-link hide" href="" id="js-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
      <span class="screen-reader-text">Back to top</span>
    </a>
  </div>

</div>
</footer>
