<footer>
<div class="footer">
<div>
  <div class="footer-links">
    <!--Github-->
    <a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>
    <!--Instagram-->
    <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
    <!--Facebook-->
    <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
    <!--Twitter-->
    <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
    <!--Linkedin-->
    <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    Flatmates... your TRUSTED choice in flats
  </div>
  </div>
  <div>
  <a class="top-link hide" href="" id="js-top">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
  <span class="screen-reader-text">Back to top</span>
</a></div>

</div>
</footer>
