<%# <header class="jumbotron">
  <div class="container-fluid text-center">
    <div class="h1">
      <h1>Find a Flatmate <br> within your circle of friends</h1>
    </div>
    <div class="flat-card">
      <button type="button" class="button1">Find a Flatmate</button>
    </div>
  </div>
</header>

<body>


<div class="container">
  <div class="cards">


    <div class="roommate-card">
      <h4>Find a Roommate</h4>
      <button type="button" class="button2">Post a Room</button>
    </div>
  </div>
</div>

</body> %>
<div class="flex-container-top">
  <div class="image-box"></div>

  <div class="text-box">
    <h1 class="mb-3">Find a Flatmate within your circle of friends</h1>
    <% if user_signed_in? %>
      <button type="button" class="green-btn py-2 font-weight-bold"
      data-toggle="modal" data-target="#exampleModal">
        Make a room request
      </button>
    <% else %>
      <%= link_to "Make a room request", dashboard_path, class: "py-2 green-btn font-weight-bold" %>
    <% end %>
  </div>
</div>

<div class="explanation-box">
  <h1>How it works</h1>
  <div class="flex-container-bottom">
    <div class="image-text-box">
      <%= image_tag "thinking.svg"%>
      <p>Start your search and let people know where you wanna live, how much you can pay, who you want to live with, and whatever else is important to you. </p>
     </div>

    <div class="image-text-box">
      <%= image_tag "send.svg"%>
      <p>Share your request with friends who live in your desired city or have friends there and let them share it with their friends. </p>
    </div>

    <div class="image-text-box">
      <%= image_tag "friendss.svg"%>
      <p>Get connected to people who have what you’re looking for and start talking. It’s probably gonna be fun because one of your friends thought you two would be a good fit. </p>
    </div>
  </div>

</div>
