<header class="jumbotron jumbotron-fluid">
  <div class="container-fluid text-center">
    <h1>Find a Roommate within your circle of friends</h1>
    <p>Find trustworthy flatmates by connecting with friends and friends of friends</p>
  </div>
</header>


<div class="container">
  <div class="row text-center">
    <div class="col-12 col-lg-6">
      <div class="card">
        <h4 class="card-title">Find a Flat</h4>
        <a href="#" class="btn btn-secondary">Request a Room</a>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="card">
        <h4 class="card-title">Find a Roommate</h4>
        <a href="#" class="btn btn-secondary">Post a Room</a>
      </div>
    </div>
  </div>
</div>
