<header class="jumbotron">
  <div class="container-fluid text-center">
    <h1>Find a Roommate within your circle of friends</h1>
    <p>Find trustworthy flatmates by connecting with friends and friends of friends</p>
  </div>
</header>

<body>
  


<div class="container">
  <div class="cards">
    <div class="flat-card">
      <h4>Find a Flat</h4>
      <button type="button" class="button1">Request a Room</button>
    </div>

    <div class="roommate-card">
      <h4>Find a Roommate</h4>
      <button type="button" class="button2">Post a Room</button>
    </div>
  </div>
</div>

</body>