.card-friend-offer {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.white-link a {
  color: white;
}

ul {
  margin-bottom: 4px;
  margin-top: 1rem;
}

.btn-offer {
  border-radius: 5px;
  border-style: none;
}

.card-friend-offer img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.btn-message {
  margin-top: 4px;
  border-radius: 5px;
  border-style: none;
  background-color: #8BE8CB;
}

.card-friend-offer h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 4px;
}

.card-friend-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-friend-offer .card-friend-offer-infos {
  padding: 16px;
}

.check-icon {
  background-image: url(/rsrc.php/v3/yf/r/BfD3dF7vTOM.png);
    background-size: 25px 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: 50px;
    color: darkgrey;
}


i {
  color: darkgrey;
  font-size: 50px;
  margin-left: auto;
  margin-left: 70px;

}

i:hover {
  color: rgba(25, 25, 112, 0.502);
}

.active {
  color: rgba(25, 25, 112, 0.502);
}

/* .active:hover {
  color: darkgray;
} */
