select {
  display: block;
    width: 100%;
    height: fit-content;;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:checked::before {
  content: "\2611";
}

option {
  height: 31px;
    border: solid 1px;
    border-color: lightgrey;
    margin-bottom: 3px;
    padding-top: 5px;
    margin-left: -5px;
}


