#friendsModal {
  overflow: scroll;
}

#friendsModal .row {
  padding: 0;
}

#friendsModal .container {
  padding: 0;
  margin: 0;
}

#friendsModal .row {
  padding: 0;
  margin: 0;
  display: grid;
}

#friendsModal .scroll-friends {
  border: none;
}
