.navbar-lewagon {
  justify-content: space-between;
  background: rgb(184, 3, 184);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  color: whitesmoke;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.login {
  background-color:whitesmoke;
}

.request {
  background-color:whitesmoke;
}

.nav-item active {
  color: whitesmoke;
}
