.navbar-lewagon {
  justify-content: space-between;
  background: #030B52;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-button {
  background-color: Transparent;
  color: white;
  border-radius: 12px;
  border: 1px solid white;
  padding: 8px 16px;

}

.nav-link {
  color: whitesmoke !important;
  font-family: "Noto Serif";
  font-weight: 300;
}

.fa-envelope {
  color: whitesmoke;
  font-size: 45px;
}

.navbar-links-right {
  display: flex;
  justify-content: space-evenly;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
}

.login {
  background-color:whitesmoke;
}

.request {
  background-color:whitesmoke;
}

.nav-item active {
  color: whitesmoke;
}

.mask {
  display: inline-block;
  width: 65px;
  height: 65px;
  overflow: hidden;

}

.green-btn {
  background-color: #8BE8BC;
  padding: 5px 10px;
  border-radius: 2px;
}
.navbar-nav {
  align-items: center;
}