a {
  color: white;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.offer {
  padding-right: 1rem;
  padding-left: 0px;
  margin-left: 0px;
  border-style: none;
}

.friends-list {
  display: flex;
}

.outerbox {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


// .textbox {
//   padding-top: 1rem;
// }




// .offer {
//   display: flex;
//   // justify-content: space-between;
// }
