.offer {
  h1 {
    text-align: center;
  }
}
a {
  color: white;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.offer {
  padding-right: 1rem;
  padding-left: 0px;
  margin-left: 0px;
  border-style: none;
}

.friends-list {
  display: flex;
}

.outerbox {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.offer-show {
  display: flex;
}

.text-right-aligned {
  text-align: right;
}

.text-left-aligned {
  text-align: left;
}

.box-left-margin {
  margin-left: 4rem;
}

.box-right-margin {
  margin-right: 4rem;
}

// .textbox {
//   padding-top: 1rem;
// }




// .offer {
//   display: flex;
//   // justify-content: space-between;
// }
.card-make-offer {
  min-width: 60%;
  margin: 20px;
  display: flex;
  padding: 20px;
}
.image-placeholder.left-side {

  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  width: 150px;
}

.image-placeholder.right-side {

  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (-11 * 1deg)));
  width: 150px;
  top: -24px;
}

.image-placeholder.middle {

  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (0 * 1deg)));
  width: 120px;
  margin-left: 20px;
  top: -23px;
  left: 14px;
}

.connection-chain {


.image-placeholder {
  overflow: hidden;
  display: inline-block;
  /* width: 50px; */
  /* height: 50px; */
  display: block;
  margin: 0 auto 30px;

  border-radius: 8px;
  position: relative;

  z-index: 1;
  transition: all .5s ease-out;
  border: solid #eae9e9 3px;
  //transform: scale(.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  transform-origin: 0 100%;
  transition: transform .2s ease-out;
}
p {
  text-align: center;
  vertical-align: middle;
}

}

.row.chain {
  padding-top: 18px;
  width: 100%;
  align-items: center;
}

.chatroom h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.offer-all {
  margin-left: 35px;
}

.offer-all>a>img {
  height: 200px;
  opacity: 45%;
  margin: 0;
  margin-bottom: 20px;


}

.offer-all>a>img:hover {
  opacity: 75%;
}
